# 3rd party dependencies
pyserial>=3.1.1
numpy
dateutils
aenum
libusb
pyusb

# rtd dependencies
sphinx>=1.5.5
sphinx_rtd_theme>=0.2.4
recommonmark

# swp dependencies
git+https://github.com/UmSenhorQualquer/pyforms.git
https://bitbucket.org/fchampalimaud/logging-bootstrap/get/master.zip
https://github.com/UmSenhorQualquer/pyforms/archive/master.zip
https://bitbucket.org/fchampalimaud/pybpod-api/get/master.zip
git+https://UmSenhorQualquer@bitbucket.org/fchampalimaud/logging-bootstrap.git